.changes-page {
    padding-left: 15%;
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
    padding-top: 1%;
    padding-bottom: 2%;
}

.chart {
    width: 80%;
    height: 60%;
}

.info-div {
    padding-left: 3%;
}

.custom-selected-date {
    display: inline-block;
    border: 1px solid #c7d9e5;
    height: 2vh;
    padding-top: 0.6vh;
    padding-bottom: 0.6vh;
    padding-left: 1vh;
    padding-right: 1vh;
    border-radius: 4px;
    color: #030710;
}

.custom-selected-date span:last-child {
    font-weight: bold;
}

.main-text  {
    display: flex;
    align-items: center;
    width: 100%;
    color: #030710;
    padding-top: 1%;
}

.text-information {
    display: flex;
    align-items: center;
    width: 75%;
    color: #030710;
    font-size: 20px;
    padding-bottom: 2%;
    padding-top: 1.5%;
}