.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f4f9ff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logo {
    cursor: pointer;
    height: 70px;
    width: auto;
}

.search-container {
    margin-right: 5%;
    position: relative;
}

input[type="text"] {
    border-radius: 5px;
    background-color: #f4f9ff;
    font-family: 'Exo 2', sans-serif;
    padding: 5px 10px;
    width: 300px;
    font-size: 16px;
    border: 2px solid #2e4765;
}

input[type="text"]::placeholder {
    color: #496b90;
}

input[type="text"]:focus {
    outline-color: #09233c;
}

.suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #F0F8FF;
    list-style-type: none;
    padding: 0;
    margin: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}


.suggestions li {
    padding: 5px 10px;
    cursor: pointer;
}

.suggestions li:hover {
    background-color: #c7d9e5;
}