.table-container {
    display: flex;
    justify-content: center;
    width: 70%;
    padding-left: 13%;
    padding-bottom: 0.5%;
}

.rates-table {
    width: 100%;
    border-collapse: collapse;
}

.rates-table th,
.rates-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.rates-table th {
    color: #ffecf0;
    font-weight: bold;
    background-color: #C96567;
}

.rates-table tbody tr:hover {
    background-color: #fbb8b9;
    cursor: pointer;
}

.rates-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.rates-table tbody tr:nth-child(even):hover {
    background-color: #fbb8b9;
    cursor: pointer;
}

.sort-dropdown {
    display: flex;
    justify-content: left;
    padding-left: 15%;
    align-items: center;
    margin-bottom: 0.7%;
    margin-top: 0.5%;
}

.sort-dropdown label {
    margin-right: 10px;
}

.sort-dropdown select {
    font-size: 16px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
    border-color: #cccccc;
    background-color: #ffecf0;
    width: 242px;
    cursor: pointer;
    border-radius: 4px;
    padding: 5px;
}

