.table-container {
    display: flex;
    justify-content: center;
    width: 70%;
    padding-left: 13%;
    padding-bottom: 0.5%;
}

.rates-table {
    width: 100%;
    border-collapse: collapse;
}

.rates-table th,
.rates-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #c7d9e5;
    border-top: 1px solid #c7d9e5;
    border-left: 1px solid #c7d9e5;
    border-right: 1px solid #c7d9e5;
}

.rates-table th {
    color: #f4f9ff;
    font-weight: bold;
    background-color: #496b90;
}

.rates-table tbody tr:hover {
    background-color: #b0ceed;
    cursor: pointer;
}

.rates-table tbody tr:nth-child(even) {
    background-color: #d7eaf7;
}

.rates-table tbody tr:nth-child(even):hover {
    background-color: #b0ceed;
    cursor: pointer;
}

.sort-dropdown {
    display: flex;
    justify-content: left;
    padding-left: 15%;
    align-items: center;
    margin-bottom: 0.7%;
    margin-top: 0.5%;
}

.sort-dropdown label {
    background-color: #f4faff;
    margin-right: 10px;
}

.sort-dropdown select {
    color: #030710;
    font-size: 16px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
    border-color: #c7d9e5;
    background-color: #f4faff;
    width: 35.5vh;
    cursor: pointer;
    border-radius: 4px;
    padding: 0.3%;
}

.sort-dropdown select:focus {
    outline-color: #09233c;
}


